.basket-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    text-align: center;
    opacity: 0.7;
}

.basket-empty img {
    width: 6rem;
    filter: invert(0);
    margin-top: 1rem;
}

.basket-wrapper {
    width: 18.75rem;
    flex-grow: 1;
    background-color: transparent;
}

.basket-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    position: sticky;
    top: 0;
    flex-grow: 1;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    background-color: rgb(98, 74, 54);
}

.basket-collapse{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
    height: 600px;
}

.basket-nav-button {
    display: flex;
}

.basket{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.basket h2 {
    display: flex;
    justify-content: center;
    color: white;
}

.basket-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.basket-buy {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.125rem;
    color: white;
}

.basket-buy:not(.d-none) {
    display: flex; /* nur sichtbar wenn d-none nicht gesetzt ist */
}

.basket > button {
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    padding: 1.25rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    margin-top: 1rem;
    background-color: rgb(80, 53, 32);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pay-button:not(.d-none) {
    display: flex;
}

.basket-collapse > button:hover {
    transform: translateY(-3px);
}

.basket-content {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.basket-content::-webkit-scrollbar{
    width: 4px;
}

.basket-content::-webkit-scrollbar-track{
    background: whitesmoke;
    border-radius: 6px;
    
}

.basket-content::-webkit-scrollbar-thumb{
    background-color: rgb(80, 53, 32);
    border-radius: 6px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.delivery-costs {
    display: flex;
    justify-content: space-between;
}

.final-price {
    display: flex;
    justify-content: space-between;
}

.main-basket-card-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(218, 194, 151);
}

.basket-card-text {
    margin: 0.5rem;
}

.basket-card-text h3{
    line-height: 1.375rem;
    font-size: 1.375rem;
}

.basket-card-price-button {
    width: 90%;
    height: 1rem;
    margin: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-card-price-button-counter{
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.basket-card-price-button-counter p{
    display: flex;
    justify-content: center;
    width: 2rem;
    font-size: 1.25rem;
}

.basket-card-price-button-counter > button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: transparent;
    color: rgb(80, 53, 32);
    cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .basket-wrapper {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    .basket-content-wrapper {
        height: auto;
        border-bottom-left-radius: 0;
        padding: 0;
        flex-direction: column-reverse;
    }

    .basket-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .basket-close {
        display: block !important; /* überschreibt d-none */
    }

    .basket-collapse {
        position: relative; /* damit absolute auf .basket-close funktioniert */
    }

    .basket-counter {
        position: absolute;
        top: -9px;
        right: -9px;
        background-color: orange;
        color: rgb(39, 39, 39);
        font-size: 1rem;
        font-weight: 700;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .basket-nav-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(80, 53, 32);
    }

    /* Toggle Button */
    .basket-toggle {
        display: flex !important;
        width: calc(100% / 4);
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: static;
        top: unset;
    }

    .basket-toggle img {
        width: 1rem;
        display: flex;
        transition: transform 0.3s ease;
    }

    /* Eingeklappter Inhalt - standardmäßig versteckt */
    .basket-collapse {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.25rem;
    }

    /* Ausgeklappt */
    .basket-open {
        max-height: 600px;
        padding: 1.25rem;
    }


    .main-content-wrapper {
        padding-bottom: 60px; /* nur Toggle-Button Höhe */
    }

    .main-content-wrapper {
        padding-bottom: 65px;
    }
}