body {
    background-image: url(../asssets/img/bg-body-bestellapp4.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.d-none{
    display: none;
}